h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
body{
    border: solid;
}

.header{
   
    display:flex;
    justify-content: space-between;
 
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
body{
    background: 
    linear-gradient(purple  0%,red 90%,pink),
    linear-gradient(to right,pink 0%,red 10%,purple  20%,yellow 90%);
    background-blend-mode: screen,difference,lighten;
    border:solid
}
.menu{
    justify-content: space-between;

}

.box{
    flex-wrap: nowrap;
}