h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin: 40px;
    justify-content: center
}
body *{
 border: solid;
}
.intro{
    display:flex;
  flex-wrap: wrap;
}
.header{
   
    display:flex;
    justify-content: space-between;
 
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: deeppink    ;
}

body{
   
    background: 
    linear-gradient( purple  0%,red 90%,pink),
    linear-gradient(to right,pink 0%,red 10%,purple  20%,yellow 90%, palegreen);
    background-blend-mode: screen,difference,lighten;
   
}
.menu{
    justify-content: space-between;
   padding: 30px;

}
 a:link{
     color:black;
 }
 a:visited{
     color:black;
 }

 .item{
     margin: 30px;
     padding-top: 30px;
     width: 300px;
   
     word-wrap: break-word;
 }
.item p{
    position:absolute;
   
    top:auto;
    left:auto;

opacity: 0;

color: black

}
.item:hover p{
    opacity: 1;
}
.menu a{
    text-decoration-style: dashed;
}